/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* ====================================
// base rules
// ==================================== */

body {
  font-family: "Roboto";
}

header {
  padding-left: 8px;
}

nav,
p {
  padding-right: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 55px;
}

.nav p {
  font-size: 16px;
}

nav,
a {
  text-decoration: none;
}

.floorplan-link {
  text-decoration: underline;
  padding-top: 15px;
}

.up-text {
  text-align: center;
  text-decoration: underline;
}

h1 {
  font-size: 30;
  padding-bottom: 7px;
}

h2 {
  font-size: 16px;
  color: #000000;
  font-weight: 100;
  padding-bottom: 40px;
}

main {
  font-size: 12px;
}

span.title {
  font-weight: bold;
}

span.link-floorplan {
  color: grey;
}

.project {
  padding-bottom: 10px;
  padding-left: 8px;
  line-height: 14px;
}

.text-section {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  color: #000000;
  line-height: 26px;
}
